.head{
  background-color:royalblue;
}
li{
  display: flex;
  padding: 0;
  margin: 0;
  color: white;
}
.comp{
  text-align: center;
  
  
}
footer{
  background-color: royalblue;
  color:aliceblue;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
}
.head{
  display: flex;
  align-items: center;
}
#price{
  color: rgb(23, 72, 219);
  font-weight: bolder;
  
}
h4{
  background-color: rgb(234, 201, 16);
  width: 100px;
  margin-left: 50px;
  border-radius: 50px;
  padding: 0px;
}

.thr{
  background-color: rgb(192, 211, 211);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 2%;
}
.comps{
  width: 200px;
  height: 300px;
  background-color: rgb(164, 189, 196);
  display: inline-block;
  margin-right: 20px; 
  border-radius: 30px;
 
}
.comps:hover{
  background-color: rgb(163, 167, 171);
}
.sec{
  background-color:rgb(177, 226, 231);
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
 
}

.list{
  list-style: circle;
  text-align: start;
}
button{
  background-color: royalblue;
  border-color: royalblue;
  padding: 3px;
  border-radius: 40px;
  color: aliceblue;
}
button:hover{
  background-color: rgb(125, 125, 215);
}
h1{
  color: white;
}